*.pyc
*.pyo
*/*.pyc
*/*.pyo
*~
MANIFEST
lograptor.conf
logmarker.py
etc/lograptor/conf.d/testapp.conf
!etc/lograptor/lograptor.conf
exclude-list.txt
package-build
project-sync.py
build/
deb_dist/
dist/
doc/_build/
doc/*.pdf
man/*.html
man/*.gz
packages/
lograptor/tests/extra/
lograptor/tests/samples/
var/
.idea/
.cache/
