*.pyc
*.pyo
*~
MANIFEST
etc/config/conf.d/testapp.conf
exclude-list.txt
package-build
project-sync.py
build/
deb_dist/
development/
dist/
doc/_build/
doc/_static/
doc/_templates/
man/*.html
man/*.gz
packages/
tests/var/
.idea/
.cache/
.vagrant/
__pycache__/
.pytest_cache/
.tox/
.mypy_cache/
*.egg-info/
htmlcov/
.coverage*
