*.pyc
*.pyo
*~
MANIFEST
lograptor.conf
etc/lograptor/conf.d/testapp.conf
!etc/lograptor/lograptor.conf
exclude-list.txt
package-build
project-sync.py
build/
deb_dist/
dist/
doc/_build/
doc/*.pdf
doc/_static/
doc/_templates/
man/*.html
man/*.gz
packages/
var/
.idea/
.cache/
.vagrant/
__pycache__/
*.egg-info/
